html, body {
    height: 100%;
}

body {
    padding-top: 70px;
    padding-bottom: 30px;
    width: 100%;
    display: table;
    font-weight: 100;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}
/*
.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.content {
    text-align: center;
    display: inline-block;
}
*/
.title {
    font-size: 48px;
    font-weight: bold;
    font-family: 'Lato';
}
.sub-title {
     font-size: 18px;
 }

.footer {
    border:dotted #000000; border-width:0px 1px;  padding:0px 10px 5px 10px; position: absolute; bottom: 10px; left:10px;
}